name: CI


on:
  push:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.2
        with:
          version: '7.11.0'

      - name: install deps
        run: pnpm install
        

      - name: copy dist to zzall.github.io
        run: |
          echo åˆ°123
          
          
          
  build2:
    runs-on: ubuntu-latest
    
    steps:
      - name: post to tencent centos services
        run: |
          yum -v
        
